# Clock
set_io CLK 129
set_io GRESET 128

# Buttons
set_io BUT1 63
set_io BUT2 64

# Leds
set_io LED1 70
set_io LED2 68
set_io LED3 67
set_io LED4 71

# Uart
set_io UART_RX 88
set_io UART_TX 85

# PWM variants
set_io PWM 94
set_io SERVO 25
set_io TONE 26

# shiftIn and shiftOut
set_io SHIFT_IN_DATA 22
set_io SHIFT_IN_CLK 21
set_io SHIFT_OUT_DATA 32
set_io SHIFT_OUT_CLK 31

# SPI
set_io SPI_SCK 18
set_io SPI_MOSI 17
set_io SPI_MISO 12
set_io SPI_SS 11

# QSPI
set_io QSS      81
set_io QCK      82
set_io QD[0]    83
set_io QD[1]    84
set_io QD[2]    79
set_io QD[3]    80

# Ping sensor with pulseIn
set_io ECHO 34
set_io TRIGGER 33

# GPIO
set_io GPIO[0] 37
set_io GPIO[1] 38
set_io GPIO[2] 39
set_io GPIO[3] 41
set_io GPIO[4] 87
set_io GPIO[5] 90
set_io GPIO[6] 143
set_io GPIO[7] 114
set_io GPIO[8] 112
set_io GPIO[9] 107
set_io GPIO[10] 144
set_io GPIO[11] 113
set_io GPIO[12] 110
set_io GPIO[13] 106
set_io GPIO[14] 105
set_io GPIO[15] 102
set_io GPIO[16] 99
set_io GPIO[17] 97
set_io GPIO[18] 104
set_io GPIO[19] 101
set_io GPIO[20] 98
set_io GPIO[21] 96

# 7-segment display
set_io D 1
set_io SEG[0] 2
set_io SEG[1] 9
set_io SEG[2] 10
set_io SEG[3] 15
set_io SEG[4] 16
set_io SEG[5] 19
set_io SEG[6] 20

# i2c
set_io SDA 95
set_io SCL 93

# Jtag
set_io JTAG_TCK 8
set_io JTAG_TDI 7
set_io JTAG_TDO 4
set_io JTAG_TMS 3

# SRAM
set_io ADR[0] 137
set_io ADR[1] 138
set_io ADR[2] 139
set_io ADR[3] 141
set_io ADR[4] 142
set_io ADR[5] 42
set_io ADR[6] 43
set_io ADR[7] 44
set_io ADR[8] 73
set_io ADR[9] 74
set_io ADR[10] 75
set_io ADR[11] 76
set_io ADR[12] 115
set_io ADR[13] 116
set_io ADR[14] 117
set_io ADR[15] 118
set_io ADR[16] 119
set_io ADR[17] 78

set_io DAT[0] 136
set_io DAT[1] 135
set_io DAT[2] 134
set_io DAT[3] 130
set_io DAT[4] 125
set_io DAT[5] 124
set_io DAT[6] 122
set_io DAT[7] 121
set_io DAT[8] 62
set_io DAT[9] 61
set_io DAT[10] 60
set_io DAT[11] 56
set_io DAT[12] 55
set_io DAT[13] 48
set_io DAT[14] 47
set_io DAT[15] 45

set_io RAMOE 29
set_io RAMWE 120
set_io RAMCS 23
set_io RAMUB 28
set_io RAMLB 24


